*{
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  line-height: 1;
  color: $black-color;
  font-family: 'ubuntu', sans-serif;
  font-weight: 400;
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-image: url("../img/background.png");
  background-color: $main-gray-color;
}

li{
  list-style-type: none;
}

ul,
li,
h1,
h2,
h3,
p{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
  &:active{
    text-decoration: none;
  }
}

h2 {
  color: $dark-gray-color;
  font-family: 'Franklin Ghothic', sans-serif;
  @include breakpoint(b-large) {
    font-size: 67px;
  }
}

.container {
  position: relative;
  padding: 0 15px;
  margin: auto;
  min-width: 320px;
  @include clearfix;

  @include breakpoint(b-xsmall) {
    width: 100%;
  }
  @include breakpoint(b-small) {
    width: 100%;
  }
  @include breakpoint(b-medium) {
    width: 640px;
  }
  @include breakpoint(b-tablet) {
    width: 768px;
  }
  @include breakpoint(b-large) {
    width: 1000px;
  }
}

.column {
  width: 100%;
  @include clearfix;
  @include breakpoint(b-large) {
    float: left;
    padding-right: 10px;
    width: 50%;
  }
}

.column--left {
  float: right;
}

.column--right {
  float: right;
  @include breakpoint(b-large) {
    padding-left: 30px;
  }
}


.animated {
  animation-duration: .7s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}