@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin placeholder-focus {
  :focus::-webkit-input-placeholder {@content}
  :focus:-moz-placeholder           {@content}
  :focus::-moz-placeholder          {@content}
  :focus:-ms-input-placeholder      {@content}
}

@mixin clearfix {
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

$xsmall: 360px;
$small: 480px;
$medium: 640px;
$tablet: 768px;
$large: 1024px;
$xlarge: 1280px;

@mixin breakpoint($point) {
  @if $point == b-xsmall  {
    @media only screen and(min-width: $xsmall) { @content ; }
  }
  @else if $point == b-small {
    @media only screen and(min-width: $small) { @content ; }
  }
  @else if $point == b-medium {
    @media only screen and(min-width: $medium) { @content ; }
  }
  @else if $point == b-tablet {
    @media only screen and (min-width: $tablet){ @content ; }
  }
  @else if $point == b-large {
    @media only screen and (min-width: $large){ @content ; }
  }
  @else if $point == b-xlarge {
    @media only screen and (min-width: $xlarge){ @content ; }
  }
}