.content {
  @include breakpoint(b-large) {
    padding-bottom: 136px;
  }
}

.content__about {
  padding-bottom: 20px;
  @include breakpoint(b-large) {
    padding-top: 95px;
    padding-bottom: 34px;
  }
}

.content__title {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 23px;
  @include breakpoint(b-small) {
    font-size: 28px;
  }
  @include breakpoint(b-medium) {
    padding-bottom: 24px;
    font-size: 30px;
  }
  @include breakpoint(b-large) {
    padding-bottom: 33px;
    font-size: 67px;
  }
}

.content__text {
  padding-bottom: 15px;
  text-align: justify;
  line-height: 20px;
  font-size: 13px;
  a {
    color: $dark-blue-color;
    &:hover {
      text-decoration: underline;
    }
  }
  @include breakpoint(b-xsmall) {
    font-size: 14px;
  }
  @include breakpoint(b-medium) {
    text-align: left;
  }
  @include breakpoint(b-large) {
    padding-bottom: 23px;
    line-height: 24px;
  }
}

.content__work {
  padding-bottom: 32px;
  @include breakpoint(b-large) {
    padding-bottom: 76px;
  }
}

.content__work-item {
  margin-left: 14px;
  line-height: 25px;
  text-transform: uppercase;
  list-style-image: url("../img/arrow-right.png");
  @include breakpoint(b-medium) {
    line-height: 30px;
  }
  @include breakpoint(b-large) {
    line-height: 37px;
  }
}

.content__work-link {
  &:hover {
    color: $dark-blue-color;
  }
}

.content__small-title {
  padding-top: 3px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.content__connect-form {
  display: block;
  position: relative;
  margin-bottom: 78px;
  @include breakpoint(b-large) {
    margin-right: 34px;
  }
}

.content__connect-input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 6px 7px;
  border: 1px solid $dark-gray-color;
  &:focus {
    border: 1px solid $light-blue-color;
    box-shadow: 0 0 4px $light-blue-color;
  }
  @include breakpoint(b-large) {
    width: 85%;
  }
}

.content__connect--textarea {
  display: inline-block;
  margin-bottom: 0;
  padding: 10px 7px;
  resize: none;
}

@include placeholder {
  color: $black-color;
}

@include placeholder-focus {
  color: transparent;
}

.content__connect-button {
  position: absolute;
  right: 0;
  bottom: -60px;
  display: block;
  width: 52px;
  height: 49px;
  border: 1px solid $white-color;
  border-radius: 50% 0 50% 50%;
  background-color: $dark-gray-color;
  color: $white-color;
  transition: .2s ease;
  &:hover {
    background-color: $main-blue-color;
    transition: .2s ease;
  }
  @include breakpoint(b-large) {
    bottom: 3px;
  }
}

.content__contacts {
  @include clearfix;
  margin-bottom: 40px;
  @include breakpoint(b-large) {
    margin-bottom: 0;
  }
}

.column-contacts {
  width: 100%;
  @include clearfix;
  @include breakpoint(b-medium) {
    float: left;
    padding-right: 10px;
    width: 50%;
  }
}

.content__contact-item {
  margin-bottom: 30px;
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
  }
}

.contact__circle-block {
  display: inline-block;
  margin-right: 3px;
  width: 47px;
  height: 47px;
  border: 1px solid $white-color;
  border-radius: 50%;
  background-color: $dark-gray-color;
  vertical-align: middle;
  &--top {
    vertical-align: top;
  }
}

.contact__icon {
  display: block;
  color: $white-color;
  text-align: center;
  line-height: 44px;
  font-size: 21px;
}

.contact__icon--large {
  font-size: 26px;
}

.contact__description {
  display: inline-block;
  vertical-align: middle;
  span {
    display: block;
    line-height: 22px;
    &:last-of-type {
      color: $dark-blue-color;
    }
  }
}

.content__welcome {
  @include breakpoint(b-large) {
    margin-top: -61px;
  }
}

.content__portfolio {
  margin-bottom: 35px;
  @include breakpoint(b-large) {
    margin-bottom: 87px;
  }
}

.content__portfolio-wrap {
  width: 80%;
  margin: 15px auto 0 auto;
  @include breakpoint(b-large) {
    margin-top: 50px;
    width: 100%;
  }
}

.content__portfolio-item {
  position: relative;
  width: 100%;
  max-height: 250px;
  &:hover {
    .content__portfolio-overlay {
      opacity: 1;
      transition: .3s ease-in;
    }
  }
  @include breakpoint(b-small) {
    max-height: 450px;
  }
  img {
    min-height: 250px;
    width: 100%;
    @include breakpoint(b-small) {
      min-height: 450px;
    }
  }
}

.content__portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: .3s ease-in;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 59px;
    height: 59px;
    background: url("../img/magnifier.png") no-repeat center;
    cursor: pointer;
  }
}

.content__portfolio-zoom {
  display: block;
  margin: 44% auto;
  width: 59px;
  height: 59px;
  background: url("../img/magnifier.png") no-repeat center;
  cursor: pointer;
}

.content__skills {
  margin-bottom: 35px;
  @include breakpoint(b-large) {
    margin-bottom: 74px;
  }
}

.content__skills-graph {
  position: relative;
  height: 230px;
  width: 100%;
  border-bottom: 1px solid $dark-gray-color;
  border-left: 1px solid $dark-gray-color;
}

.content__skill-item {
  display: inline-block;
  position: relative;
  width: 12%;
  max-width: 50px;
  height: 100%;
  margin-left: 3px;
  &:first-of-type {
    margin-left: 7px;
  }
  @include breakpoint(b-large) {
    margin-left: 10px;
    width: 50px;
    &:first-of-type {
      margin-left: 13px;
    }
  }
}

.content__skill {
  position: absolute;
  bottom: 0;
  color: $black-color;
  width: 100%;
  background-color: $dark-gray-color;
  span {
    display: block;
    position: absolute;
    bottom: 26px;
    width: 100%;
    text-transform: uppercase;
    transform: rotate(-90deg);
  }
}

.content__skill--color {
  background-color: $light-blue-color;
}

.content__technologies {
  margin-bottom: 40px;
  @include breakpoint(b-large) {
    margin-bottom: 115px;
  }
}

.content__technologies-list {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  @include breakpoint(b-large) {
    margin-top: 33px;
  }
}

.content__technologies-item {
  display: inline-block;
  margin: 12px;
  vertical-align: middle;
  background: url("../img/technologies.png") no-repeat center;
  &:last-of-type {
    margin-right: 0;
  }
  @include breakpoint(b-large) {
    margin: 0 19px 0 0;
  }
}

.content__joomla {
  width: 43px;
  height: 43px;
  background-position: -7px -7px;
}

.content__jquery {
  width: 78px;
  height: 84px;
  background-position: -7px -64px;
  opacity: .54;
}

.content__php {
  width: 53px;
  height: 53px;
  background-position: -7px -162px;
}

.content__sql {
  width: 124px;
  height: 65px;
  background-position: -7px -229px;
}

.content__wordpress {
  width: 58px;
  height: 55px;
  background-position: -7px -308px;
}

.content__help {
  position: relative;
  margin-bottom: 50px;
  @include clearfix;
  @include breakpoint(b-large) {
    margin-bottom: 0;
  }
}

.content__photo-wrap {
  width: 200px;
  margin: auto;
  position: relative;
  @include clearfix;
  @include breakpoint(b-medium) {
    float: left;
    margin-top: 60px;
    margin-left: 20px;
  }
  @include breakpoint(b-large) {
    width: 30%;
    margin-top: 80px;
    margin-left: 0;
  }
}

.content__help-wrap {
  margin-top: 40px;
  text-align: center;
  @include breakpoint(b-medium) {
    float: right;
    text-align: left;
  }
  @include breakpoint(b-large) {
    width: 70%;
    padding-left: 40px;
    margin-top: 0;
  }
}

.content__photo-back-1 {
  position: relative;
  width: 200px;
  height: 221px;
  background-color: $white-color;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.34);
  transform: rotate(-6deg);
}
.content__photo-back-2 {
  position: absolute;
  top: 0;
  width: 200px;
  height: 221px;
  background-color: $white-color;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.34);
  transform: rotate(-12deg);
}

.content__photo {
  position: absolute;
  top: 0;
  z-index: 2;
  border: 11px solid $white-color;
  width: 200px;
  height: 221px;
  background: url("../img/photo.png") no-repeat center;
}

.content__align {
  @include breakpoint(b-large) {
    float: right;
  }
}

.content__help-list {
  display: block;
}

.content__help-item {
  line-height: 30px;
  text-transform: uppercase;
}

.content__to-top {
  position: absolute;
  right: 15px;
  bottom: -125px;
  display: block;
  width: 52px;
  height: 49px;
  border: 1px solid #ffffff;
  border-radius: 50% 0 50% 50%;
  background-color: #c0c0c2;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 49px;
  transition: .2s ease;
  &:hover {
    background-color: $main-blue-color;
    transition: .2s ease;
  }
  @include breakpoint(b-tablet) {
    right: 0;
  }
}