.header {
  padding-top: 20px;
  @include breakpoint(b-large) {
    padding-top: 42px;
  }
}

.header__top-line {
  display: none;
  @include breakpoint(b-large) {
    display: block;
    height: 20px;
    background-color: $dark-gray-color;
  }
}

.header__human-info {
  float: left;
  padding-bottom: 40px;
  @include breakpoint(b-large) {
    padding-bottom: 0;
  }
}

.header__name {
  font-size: 36px;
  @include breakpoint(b-small) {
    font-size: 40px;
  }
  @include breakpoint(b-medium) {
    font-size: 46px;
  }
  @include breakpoint(b-large) {
    color: $black-color;
    line-height: 0.8;
    text-transform: uppercase;
    font-size: 67px;
  }
}

.header__name-desc {
  font-size: 28px;
  @include breakpoint(b-small) {
    font-size: 30px;
  }
  @include breakpoint(b-medium) {
    font-size: 38px;
  }
  @include breakpoint(b-large) {
    color: $main-blue-color;
    line-height: 0.85;
    text-transform: uppercase;
    font-size: 67px;
  }
}

.mobile-menu-list {
  display: none;
  margin-top: -15px;
  margin-bottom: 30px;
  text-align: center;
  @include breakpoint(b-large) {
    display: none;
  }
}

.mobile-menu--is-active {
  display: block;
  @include breakpoint(b-large) {
    display: none;
  }
}

.mobile-menu-item {
  text-transform: uppercase;
  font-size: 16px;
}

.mobile-menu-link {
  display: block;
  padding: 10px 5px;
  font-family: 'Franklin Ghothic', sans-serif;
  color: $dark-gray-color;
  font-size: 16px;
  letter-spacing: 1px;
}

.header__mobile-menu {
  padding-top: 7px;
  float: right;
  @include breakpoint(b-large) {
    display: none;
  }
}

.header__menu {
  display: none;
  @include breakpoint(b-large) {
    display: block;
    float: right;
  }
}

.header__menu-item {
  @include clearfix;
}

.header__menu-item {
  @include breakpoint(b-large) {
    float: left;
    text-align: center;
    margin-right: 11px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.header__menu-link {
  @include breakpoint(b-large) {
    display: block;
    padding: 27px 0;
    width: 74px;
    border-radius: 50% 0 50% 50%;
    border: 1px solid $white-color;
    background-color: $dark-gray-color;
    color: $white-color;
    text-align: center;
    text-transform: uppercase;
    font-family: 'ubuntu', sans-serif;
    transition: .2s ease-in;
    &:hover {
      background-color: $main-blue-color;
      transition: .2s ease-in;
    }
  }
}

.is--active {
  @include breakpoint(b-large) {
    background-color: $main-blue-color;
  }
}

.header__menu-link--large {
  @include breakpoint(b-large) {
    padding: 21px 0;
  }
}