.header {
  padding-top: 42px;
}

.header__top-line {
  height: 20px;
  background-color: $dark-gray-color;
}

.header__name {
  color: $black-color;
  line-height: 0.8;
  text-transform: uppercase;
}

.header__name-desc {
  color: $main-blue-color;
  line-height: 0.85;
  text-transform: uppercase;
}

.header__menu {
  float: right;
}

.header__menu-item {
  @include clearfix;
}

.header__menu-item {
  float: left;
  text-align: center;
  margin-right: 11px;
  &:last-of-type {
    margin-right: 0;
  }
}

.header__menu-link {
  display: block;
  padding: 27px 0;
  width: 74px;
  border-radius: 50% 0 50% 50%;
  border: 1px solid $white-color;
  background-color: $dark-gray-color;
  color: $white-color;
  text-align: center;
  text-transform: uppercase;
  font-family: 'ubuntu', sans-serif;
  transition: .2s ease-in;
  &:hover {
    background-color: $main-blue-color;
    transition: .2s ease-in;
  }
}

.header__menu-link--large {
  padding: 21px 0;
}